form#form-action(action="/create" method="POST")
  h2#form-title Create Pet
  input(type="hidden" id="id" name="id")
  input(type="text" id="pet_name" name="pet_name" placeholder="Pet Name" required)
  input(type="text" id="pet_type" name="pet_type" placeholder="Pet Type" required)
  input(type="number" id="age" name="age" placeholder="Age" required)
  button#submit-btn(type="submit") Create
