doctype html
html
  head
    title= title
    style.
      body {
        font-family: Arial, sans-serif;
        padding: 30px;
      }
      input, select {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 15px;
        width: 300px;
      }
      button {
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
      }
      a {
        font-size: 22px;
      }

  body
    h1 Add New Pet

    a(href="/") Return to Homepage

    form(action="/update-cobj" method="POST")
      div
        label Name:
        br
        input(type="text" name="pet_name" required)

      div
        label Type:
        br
        input(type="text" name="pet_type" required)

      div
        label Age:
        br
        input(type="number" name="age" required)

      button(type="submit") Submit
