body {
  font-family: Georgia, serif;
  margin: 40px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.top-link {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 25px;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: pink;
  font-size: 22px;
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
}

td {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #000;
}
